<div class="node-container">
  <app-node-details [jsonAttributeNode]="jsonAttributeNode">
    <mat-form-field appearance="standard" class="input-field">
      <mat-select [(value)]="jsonAttributeNode.value">
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
      </mat-select>
    </mat-form-field></app-node-details
  >
  <div class="controls">
    <div class="spacer"></div>
    <app-delete
      class="delete"
      [jsonAttributeNode]="jsonAttributeNode"
    ></app-delete>
  </div>
</div>
