:root {
  --node-indent-width: 20px;
  --min-node-height: 40px;
  --background-color: #f6f6f6;
  --border-color: rgba(0, 0, 0, 0.12);
  --light-amber: #ffecb3;
  --light-purple: #ede7f6;
  --light-purple-hover: rgba(237, 231, 246, 0.4);
  --light-purple-select: rgba(237, 231, 246, 0.6);
  --primary-color: #673ab7;
}
