name: CVE Scanning for Node

defaults:
  run:
    shell: bash
    working-directory: ui

on:
  push:
    branches: [ "main" ]
    paths: ['ui/**']
  pull_request:
    branches: [ "main" ]

jobs:
  # CVE scanning
  cvescan:
    name: CVE Scanning
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run auditjs
        env:
          OSS_INDEX_USERNAME: ${{ secrets.OSS_INDEX_USERNAME }}
          OSS_INDEX_PASSWORD: ${{ secrets.OSS_INDEX_PASSWORD }}
        run: |
          npm ci
          npx --yes auditjs ossi --whitelist allow-list.json
