name: CVE Scanning for Node

defaults:
  run:
    shell: bash
    working-directory: ui

on:
  push:
    branches: [ "main" ]
    paths: ['ui/**']
  pull_request:
    branches: [ "main" ]

jobs:
  # CVE scanning
  cvescan:
    name: CVE Scanning
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        env:
          OSS_INDEX_USERNAME: ${{ secrets.SONATYPE_SCANNER_USERNAME }}
          OSS_INDEX_TOKEN: ${{ secrets.SONATYPE_SCANNER_PASSWORD }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npx --yes auditjs ossi --whitelist allow-list.json